body {
    font-family: Arial, sans-serif, Helvetica;
    background-color: #ececec;
    font-size: 12px;
}

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: underline;
    color: #444;
}

a:hover{
    text-decoration: underline;
    color: #ff7a00;
}

header {
    background-color: tomato;
    height: 112px;
    display: flex;
    align-items: center;
}

header h1{
    font-family: 'Californian FB', 'Times New Roman', serif;
    text-transform: uppercase;
    border-bottom-style: solid;
    border-bottom-color: #6b6864;
    padding-top: 28px;
    margin-top: 0;
    padding-bottom: 6px;
    margin-bottom: 8px;
    width: 242px;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
}

#options {
    margin: auto;
    /* text-align: center; */
    display: flex;
    align-items: center;
    gap: 20px;
}

#search {
}

#container{
    margin: 12px auto;
    width: 720px;
    border-style: solid;
    border-color: #757474;
    border-width: thin;
    background-color: white;
}

#left, #right{
    display: inline-block;
}

#left{
    width: 68%;
}

#left_container{
    width: 356px;
    margin: auto;
    margin-bottom: 21px;
}

#right{
    width: 30%;
    background-color: #d9d9d9;
    float: right;
}

#right_container{
    width: 146px;
    margin: 20px auto 0 auto;
    margin-right: auto;
}

#right_container_images img{
    max-width: 182px;
    height: auto;
    border-radius: 3%;
    margin: 0 auto;
    display: block;
}

footer{
    clear: both;
}