body {
    font-family: Arial, sans-serif, Helvetica;
    background-color: #ececec;
    font-size: 12px;
}

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: underline;
    color: #444;
}

a:hover{
    text-decoration: underline;
    color: #ff7a00;
}

header {
    background-color: tomato;
    height: 112px;
    display: flex;
    align-items: center;
}

header h1{
    font-family: 'Californian FB', 'Times New Roman', serif;
    text-transform: uppercase;
    border-bottom-style: solid;
    border-bottom-color: #6b6864;
    padding-top: 28px;
    margin-top: 0;
    padding-bottom: 6px;
    margin-bottom: 8px;
    width: 242px;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
}

#options {
    margin: auto;
    /* text-align: center; */
    display: flex;
    align-items: center;
    gap: 20px;
}

/* #search {
    float: right;
} */

#town-select {
    width: 320px;
}

section {
    border-style: solid;
    border-color: silver;
    border-width: thin;
    margin: 8px 8px 8px 8px;
    padding: 2px 2px 2px 2px;
}

section h2 {
    margin-bottom: 8px;
}

#town_desc {
    border-style: none;
}

#index{
    font-size: 1em;
}

#container, #options{
    margin: 12px auto;
    width: 720px;
    border-style: solid;
    border-width: silver;
    background-color: white;
}

#container {
    border-color: #757474;
}

#options {
    border-color: #b5b5b5;
}

#left, #right{
    display: inline-block;
}

#left{
    width: 68%;
}

#left_container{
    width: 420px;
    margin: auto;
    margin-bottom: 21px;
}

#right{
    width: 30%;
    background-color: #d9d9d9;
    float: right;
}

#right_container{
    /* width: 146px; */
    margin: 20px auto 0 auto;
    margin-right: auto;
    text-align: center;
}

#town_misc{
    text-align: left;
    padding-left: 12px;
}

#town_misc_content_left, #town_misc_content_right{
    display: inline-block;
    vertical-align: top;
}

#town_misc_content_left ul{
    width: 82px;
    list-style: square;
}

#town_misc_content_right li{
  /* margin-bottom: 9px; */
}

right_container_images {
    border-style: solid;
}

#right_container_images img{
    max-width: 92%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.gallery_img{
    max-width: 92%;
    height: auto;
    margin: 0 auto;
    display: block;
}

#error{
    color: red;
    background-color: yellow;
}

.disabled {
    color: gray;
}

.buttonNextPrevious {
    color: black;
    transition-duration: 0.4s;
}

.buttonNextPrevious:hover {
    color: red;
}

footer{
    clear: both;
}